{% extends "pages/base.html" %}

{% block body_class %}page-map{% if active_filter %} page-journal-filter{% endif %}{% endblock %}

{% block body_attrs %}{% if active_filter %}style="--journal-bg: {{ active_filter.color }};"{% endif %}{% endblock %}

{% block content %}
  <section class="section photo-stream-section is-map">
    {% include "journal/includes/photo_dots.html" %}
  </section>
{% endblock %}

{% block extra_js %}
  {% include "journal/includes/photo_stream_js.html" %}
  {% include "journal/includes/dot_map_js.html" %}
  {% include "journal/includes/paint_spill_js.html" %}
{% endblock %}
