<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="shortcut icon" href="https://raw.githubusercontent.com/KConnorBrown/KConnorBrown.github.io/master/assets/Cb.ico">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:downtown.c.brown1999@gmail.com">email <img src ="https://raw.githubusercontent.com/KConnorBrown/KConnorBrown.github.io/master/assets/mail_icon.png" class="connect-icon"</a></li>
	        		<li><a href="https://github.com/KConnorBrown">github.com/KConnorBrown</a></li>
				<li><a href="https://www.linkedin.com/in/k-connor-brown/">github.com/KConnorBrown</a></li>
				</ul>
			</footer>
		</body>
	</html>
